h3.header  Editing inventory
br
== render 'form'

= link_to 'Show', @inventory, class: 'waves-effect waves-light btn blue', style: 'margin-bottom: 20px'
= link_to 'Back', inventories_path, class: 'waves-effect waves-light btn red', style: 'margin-bottom: 20px'

